language: perl

perl:
  - "5.10"
  - "5.12"
  - "5.14"
  - "5.16"
  - "5.18"
  - "5.20"
  - "5.22"
  - "5.24"
  - "5.26"

env:
  global:
    - KRITIKA_TOKEN=03924fe2d27365a53661c76cf85d6d40d3259ce0

install:
  - "cpanm -n --quiet --installdeps --with-develop ."

after_success:
  - cover -test -report coveralls
  - cover -test -report kritika
